/* ***** */
/* Fonts */
/* ***** */


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {font-family: 'latoregular', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

a {
    color: #2b5b43;
    text-decoration: none;
}

body.cv {
	background: #181818;
}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
	letter-spacing: -0.1px;
}

#content {
	width: 90%;
	max-width: 800px;
	/*background: #f3f3f3;*/
	background: #fff;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	/*border-bottom: 2px solid #cf8a05;*/
	border-bottom: 2px solid #2B5B43;
	/*background: #ededed;*/
	/*background: #f3f3f3;*/
}

#name h1 {
	font-size: 2.5em;
	font-family: 'rokkittbold', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'rokkittregular', Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 0 40px;
}

.mainDetails .headshot {
	float: left;
	margin-right: 30px;
	width: 12.5%;
}

.mainDetails .headshot img {
	width: 100%;
	height: auto;
}

#name {
	float: left;
}

.mainDetails #contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactDetails ul li a, a[href^=tel] {
	color: #444;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover {
	color: #2b5b43;
}

#contactDetails ul li em {
    font-family: "latoitalic";
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.summary {
	font-size: 1.1em;
}

.sectionTitle h1 {
	font-family: 'rokkittregular', Helvetica, Arial, sans-serif;
	/*font-style: italic;*/
	font-size: 1.5em;
	background-color: #2b5b43;
	color: #fff;
	padding: 0 5px;
}

.sectionContent h2 {
	font-family: 'rokkittregular', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

.home .summary, .home #content {
    width: 600px;
}

.home .summary p {
    font-size: 2.5em;
    margin: 0;
    line-height: 1.1em;
}

.home_header {
	display: table-cell;
	vertical-align: bottom;
	width: 600px;
}

.home_header .headshot {
	display: inline-block;
}

.home_header #contactDetails {
	display: inline-block;
}
.home_footer {
	margin-top: 5px;
}
.home_footer #contactDetails {
	display: inline-block;
	margin-left: 305px;
}
/*.summary .keyword {
	background-color: #2b5b43;
	color: #fff;
}
*/


/* **************************** */
/* ********* Curieuse ********* */
/* **************************** */
.reading {
	font-family: 'ledgerregular';
	text-align: justify;
}
.curieuse header {
	border-bottom: 1px solid #ddd;
	height: 100px;
	color: #666;
	text-align: center;
}
.curieuse header h1 {
	font-size: 2em;
	line-height: 100px;
}
.curieuse header h1 small {
	font-size: 0.5em;
}
.curieuse footer {
	height: 100px;
	background-color: #76C1AF;
	color: #eee;
	text-align: center;
	line-height: 100px;
	margin-top: 40px;
}
.curieuse footer a {
	color: #eee;
}
.curieuse .content {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}
.curieuse .intro {
	background-color: #76C1AF;
	border-bottom: 1px solid #ddd;
	padding: 10px calc(50% - 20em);
	margin-bottom: 30px;
	max-width: 40em;
}
.curieuse .intro p {
	color: #eee;
	letter-spacing: 0;
	text-align: justify;
}
.curieuse p {
	padding-left: 10px;
	padding-right: 10px;
}
.curieuse .intro .context,
.curieuse .context {
	text-align: right;
	font-size: 0.8em;
}
.licence {
	font-family: 'cc_iconsregular';
}

/* **************************** */
/* ********* Rosalie ********** */
/* **************************** */
.rosalie {
	background-color: #fff;
}
.rosalie .content {
	max-width: 1230px;
	margin-left: auto;
	margin-right: auto;
}
.rosalie .content > iframe,
.rosalie .content > div {
	width: 400px;
	height: 300px;
	overflow: hidden;
	float: left;
	margin: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-wk-box-sizing: border-box;
}
.rosalie .content .img img {
	width: 100%;
}
.rosalie .heading {
	background-image: url('../img/rosalie/rosalie.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
	color: #111;
}
.rosalie .heading h1 {
	margin-top: 40px;
	font-size: 4em;
	text-indent: -8px;
}

.grid {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.grid .card {
    clear: none;
    margin-top: 0;
    margin: 10px;
    max-width: 300px;
    flex-grow: 1;
    flex-basis: 200px;
    position: relative;
    overflow: hidden;
    border: 1px solid #efefef;
    text-align: center;
    padding: 10px;
}
.grid .card img {
	max-height: 200px;
}
.grid .card h5 {
	text-transform: uppercase;
	color: #999;
	margin-bottom: 5px;
	height: 3.4em;
	overflow: hidden;
}
.annotations li {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	list-style: none;
}
.book {
	max-width: 600px;
	padding: 25px;
}
.book header {
	text-align: center;
}
.book header p {
	text-align: justify;
}
.book header img {
	max-width: 300px;
}
.book h1,
.book h3 {
	font-family: 'rokkittregular', Helvetica, Arial, sans-serif;
	font-size: 2em;
	color: #666;
	padding: 0 5px;
}
.book h3 {
	font-size: 1.5em;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}

	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#content {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}

	#headshot {
		display: none;
	}

	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}

	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
	}

	#mainArea {
		padding: 0 25px;
	}


	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}

	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #content {
        width: 100%;
    }
}
