/**
 * A simple theme for reveal.js presentations, similar 
 * to the default theme. The accent color is darkblue.
 * 
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se; so is the theme - beige.css - that this is based off of.
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #f0f1eb;
}

.reveal {
  font-family: "rokkittregular", "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: black;
}

::selection {
  color: white;
  background: #26351c;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #383d3d;
  font-family: "latoregular", "Book Antiqua", Palatino, FreeSerif, serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #51483d;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #8b7c69;
  text-shadow: none;
  border: none;
  border-radius: 2px;
}

.reveal .roll span:after {
  color: #fff;
  background: #25211c;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #51483d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #51483d;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #51483d;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #51483d;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #51483d;
}

.reveal .controls div.left.enabled:hover {
  border-right-color: #8b7c69;
}

.reveal .controls div.right.enabled:hover {
  border-left-color: #8b7c69;
}

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #8b7c69;
}

.reveal .controls div.down.enabled:hover {
  border-top-color: #8b7c69;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #51483d;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * CUSTOM
 *********************************************/
.reveal .risks {
  display: block;
  position: relative;
  margin: 5px auto;
  padding: 5px;
  font-size: 0.9em;

  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  border-left: solid #2b5b43;
}
.reveal .risks li {
  list-style: none;
}
.reveal .risks li:before {
  content: "⇒ ";
  color: #2b5b43;
}
.reveal a.roll {
  color: #2b5b43;
}
.reveal a.roll:hover {
  background-color: #2b5b43;
}

.reveal img.flat {
  border: none;
}