<!DOCTYPE html>
<html lang='{{ lang or 'en' }}'>
    <head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="${description}"/>
    <meta charset="UTF-8" /> 

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

</head>
<body class="{{ body_class or active_page }}">
    {% block header %}
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
</body>
</html>