{% set active_page='book' %}
{% set lang='fr' %}
{% set title='Book' %}
{% extends "base.html" %}
{% block content %}
<div>
    <div><a href="{{ url_for('books') }}">&lt;&lt; Tous les livres</a></div>
    <header>
        <h1>{{ book.title }}</h1>
        <h4>{{ book.attribution }}</h4>
        <img src="{{ url_for('book_cover', id=book.cover) }}">
        <p>{{ book.description|striptags }}</p>
    </header>
    <h3>Annotations</h3>
    <ul class="annotations">
        {% for annotation in book.annotations %}
            <li>{{ annotation.text }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
