{% set active_page='books' %}
{% set lang='fr' %}
{% set title='Books' %}
{% extends "base.html" %}
{% block content %}
<div class="grid">
    {% for book in books %}
        <a class="card" href="{{ url_for('book', id=book.id) }}">
            <h5>{{ book.title }}</h5>
            {% if book.cover %}
                <img src="{{ url_for('book_cover', id=book.cover) }}">
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock content %}
