{% set active_page='curieuse' %}
{% set lang='fr' %}
{% set title='Curieuse' %}
{% extends "base.html" %}
{% block header %}
<header>
    <h1>Curieuse <small>À la recherche d'une île</small></h1>
</header>
{% endblock header %}
{% block content %}
    <div class="intro">
        <p class="context">15 janvier 2014, bateau «Epicures», quelque part sur l'Oise</p>
        <p>En mettant un peu d'ordre dans mes vieux disques durs, au propre comme au figuré, je suis retombé sur «Curieuse», manifeste introspectif naïf d'un amoureux maladroit. C'était en 2001. Ecrit, enregistré et mis en «bruits» dans une cabane desdites Petites Pyrénées. Avec d'authentiques faux crépitements de feu de cheminée, des bruits de vagues bien imités et même du vrai synthé dedans. J'ai (presque) pas honte. Attention, ça dure une heure. #lowfi #slowweb</p>
        <p>À Anne-Claire.</p>
    </div>
    <div class="content reading hyphenate" id="curieuse">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129866122&amp;color=76C1AF&amp;auto_play=false&amp;show_artwork=false"></iframe>
        <p class="context">Novembre 2001, quelque part dans les Petites Pyrénées</p>
        {% include 'curieuse_content.html' %}
    </div>
    <script src="{{ url_for('static', filename='js/hyphenate.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        Hyphenator.config({minwordlength: 5});
        Hyphenator.run();
    </script>
{% endblock content %}
{% block footer %}
    <footer>
        <div><a class="licence" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">c n b a</a></div>
    </footer>
{% endblock footer %}