{% set active_page='cv'%}
{% extends "base.html" %}
{% block content %}
<!-- Template from http://www.thomashardy.me.uk/free-responsive-html-css3-cv-template -->
<div id="content" class="instaFade">
  <div class="mainDetails">
    <div class="headshot">
      <a href="/">
        <img src="/static/img/headshot.png" alt="Yohan Boniface" />
      </a>
    </div>

    <div id="name">
      <h1>Yohan Boniface</h1>
      <h2>architecte web</h2>
    </div>

    <div id="contactDetails">
      <ul>
        <li>e: <a href="mailto:yb+cv@enix.org" target="_blank">yb+cv@enix.org</a></li>
        <li>w: <a href="http://yohanboniface.me/">http://yohanboniface.me/</a></li>
        <li>t: +33 671795348</li>
        <li><em>Né le 20 octobre 1978</em></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <section>
      <div class="sectionTitle">
        <h1>Experiences</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Mozilla, developper web</h2>
          <p class="subDetails">Avril - septembre 2014</p>
          <p>Maintenance évolutive et mise à niveau du code de https://addons.mozilla.com (en Django).</p>
        </article>

        <article>
          <h2>OIF, formateur HTML5, Tchad</h2>
          <p class="subDetails">Décembre 2013</p>
          <p>Fromation HTML5 dédiée aux applications géo et OpenStreetMap. Missionné par l'Organisation internationale de la Francophonie.</p>
        </article>

        <article>
          <h2>HOT - coordinateur de terrain, Haïti</h2>
          <p class="subDetails">Mars - avril 2013</p>
          <p>Mise en place du projet CAP103, à Limonade, nord d'Haïti, pour l'ONG Humanitarian OpenStreetMap Team.</p>
        </article>

        <article>
          <h2>Enix - architect web</h2>
          <p class="subDetails">Juillet 2012 - septembre 2014</p>
          <p>Python, Django, JavaScript, CartoCSS, NodeJS, UX.</p>
        </article>

        <article>
          <h2>Libération - CTO</h2>
          <p class="subDetails">Janvier 2008 - juillet 2012</p>
          <p>Création de l'équipe technique, migration de la plateforme de PHP vers python/Django, architecture de l'information.</p>
        </article>

        <article>
          <h2>Libération - coordinateur Eidos Méthode</h2>
          <p class="subDetails">Février 2007 - décembre 2007</p>
          <p>Migration de Copydesk vers Méthode; maintenance évolutive.</p>
        </article>

        <article>
          <h2>Libération - correcteur</h2>
          <p class="subDetails">Janvier 2004 - février 2007</p>
          <p>Quotidien et hors-série.</p>
        </article>

        <article>
          <h2>Divers - correcteur</h2>
          <p class="subDetails">2002 - décembre 2003</p>
          <p>Éditions Milan, éditions Autrement, Courrier international</p>
        </article>

      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Savoir-faire</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>Python</li>
          <li>NLP</li>
          <li>Django</li>
          <li>GeoDjango</li>
          <li>OSM</li>
          <li>Leaflet</li>
          <li>Eidos Méthode</li>
          <li>IA</li>
          <li>CartoCSS</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>université de Toulouse-le Mirail</h2>
          <p class="subDetails">licence de philosophie, 2001</p>
        </article>
              </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Loisirs</h1>
      </div>

      <div class="sectionContent">

        <article>
          <h2>Nieuwpoort Channel Race</h2>
          <p class="subDetails">Juillet 2012</p>
          <p><a href="http://www.channelrace.be/">http://www.channelrace.be/</a> .</p>
        </article>

        <article>
          <h2>Sailtica</h2>
          <p class="subDetails">Mai 2012</p>
          <p>Aller-retour Bretagne-Espagne: <a href="http://www.sailtica.fr/">http://www.sailtica.fr/</a> .</p>
        </article>

        <article>
          <h2>Randonnée TransSardinia</h2>
          <p class="subDetails">Été 2010</p>
          <p>D'Olbia à Cagliari: <a href="http://www.sentiero-norby.it/">http://www.sentiero-norby.it/</a> .</p>
        </article>

        <article>
          <h2>Rosalie: un vélo à quatre roues</h2>
          <p class="subDetails">2002-2004-2012</p>
          <p>Construit avec Guilhem de Gramont. <a href="http://yohanboniface.me/rosalie/">Quelques images.</a></p>
        </article>

        <article>
          <h2>Construction d'un châlet</h2>
          <p class="subDetails">1998 - 2001</p>
          <p>Châlet en bois dans les Pyrénées. Autoconstruction. <a href="http://familleboniface.free.fr/dessin.php?dessin=91">Quelques photos.</a></p>
        </article>

        <article>
          <h2>Haute randonnée pyrénéenne</h2>
          <p class="subDetails">Été 1999</p>
          <p>36 jours de treck à travers les sommets des Pyrénées, d'Hendaye à Banyuls.</p>
        </article>

      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Vie privée</h1>
      </div>

      <div class="sectionContent">
        <article>
          <p>
            Je vis dans un bateau fluvial.<br />
            J'aime: la voile, la photo, la philo, le parapente, l'engagement citoyen.<br />
            Je joue de la batterie.<br />
            Langues: français et italien langues maternelles; anglais pour le travail; espéranto et espagnol (bases); un peu de russe.<br />
            Pas d'alcool. Pas de cigarette.
          </p>
        </article>
              </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
{% endblock content %}
