{% set active_page='cv'%}
{% extends "base.html" %}
{% block content %}
<!-- Template from http://www.thomashardy.me.uk/free-responsive-html-css3-cv-template -->
<div id="content" class="instaFade">
  <div class="mainDetails">
    <div class="headshot">
      <a href="/">
        <img src="/static/img/headshot.png" alt="Yohan Boniface" />
      </a>
    </div>

    <div id="name">
      <h1>Yohan Boniface</h1>
      <h2>web architect</h2>
    </div>

    <div id="contactDetails">
      <ul>
        <li>e: <a href="mailto:yb+cv@enix.org" target="_blank">yb+cv@enix.org</a></li>
        <li>w: <a href="http://yohanboniface.me/">http://yohanboniface.me/</a></li>
        <li>t: +33 671795348</li>
        <li><em>Born October 1978</em></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>

        <div class="summary">
          <p>
            I'm a tenacious, perfectionist, and enthusiastic web citizen.<br />
            I'm always busy, but remain interested in new ethic open source projects.
          </p>
        </div>
      </article>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Etalab, web developper</h2>
          <p class="subDetails">Since October 2014</p>
          <p>Technical infastructure of the official French open addresses project («Base adresse nationale»): http://adresse.data.gouv.fr/</p>
        </article>

        <article>
          <h2>Mozilla, web developper</h2>
          <p class="subDetails">April - September 2014</p>
          <p>Maintenance, code refactoring and enhancements on Django based https://addons.mozilla.com.</p>
        </article>

        <article>
          <h2>OIF, HTML5 Trainer, Chad</h2>
          <p class="subDetails">December 2013</p>
          <p>HTML5 training dedicated to geoapplications, and OpenStreetMap. For the Organisation internationale de la Francophonie.</p>
        </article>

        <article>
          <h2>HOT - Field Coordinator, Haiti</h2>
          <p class="subDetails">March - April 2013</p>
          <p>Tech set up for the CAP103 Project, in Limonade, north of Haiti, for the Humanitarian OpenStreetMap Team.</p>
        </article>

        <article>
          <h2>Enix - web architect</h2>
          <p class="subDetails">July 2012 - Present</p>
          <p>Python, Django, JavaScript, CartoCSS, UX.</p>
        </article>

        <article>
          <h2>Libération - CTO</h2>
          <p class="subDetails">January 2008 - July 2012</p>
          <p>Team management, migration from PHP to python/Django, information architecture.</p>
        </article>

        <article>
          <h2>Libération - Eidos Méthode coordinator</h2>
          <p class="subDetails">February 2007 - January 2008</p>
          <p>Migrating from Copydesk to Méthode; developments; maintenance.</p>
        </article>

        <article>
          <h2>Libération - proofreader</h2>
          <p class="subDetails">January 2004 - February 2007</p>
          <p>Newspaper and special issues.</p>
        </article>

        <article>
          <h2>Miscellaneous - proofreader</h2>
          <p class="subDetails">2002 - December 2003</p>
          <p>Éditions Milan, éditions Autrement, Courrier international</p>
        </article>

      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Key Skills</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>Python</li>
          <li>NLP</li>
          <li>Django</li>
          <li>GeoDjango</li>
          <li>OSM</li>
          <li>Leaflet</li>
          <li>Eidos Méthode</li>
          <li>IA</li>
          <li>CartoCSS</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>université de Toulouse-le Mirail</h2>
          <p class="subDetails">licence de philosophie, 2001</p>
        </article>
              </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Spare Time</h1>
      </div>

      <div class="sectionContent">

        <article>
          <h2>Volunteer with Library Without Borders on Ideasbox project</h2>
          <p class="subDetails">Since October 2014</p>
          <p>Server development and field missions (Burundi, Jordan, Ethiopia, Lesvos, Irak…) <a href="https://github.com/ideascube/ideascube">https://github.com/ideascube/ideascube</a> .</p>
        </article>

        <article>
          <h2>Nieuwpoort Channel Race</h2>
          <p class="subDetails">July 2012</p>
          <p><a href="http://www.channelrace.be/">http://www.channelrace.be/</a> .</p>
        </article>

        <article>
          <h2>Sailtica regatta</h2>
          <p class="subDetails">May 2012</p>
          <p>From Brittany to Spain and return: <a href="http://www.sailtica.fr/">http://www.sailtica.fr/</a> .</p>
        </article>

        <article>
          <h2>TransSardinia treck</h2>
          <p class="subDetails">Summer 2010</p>
          <p>From Olbia to Cagliari: <a href="http://www.sentiero-norby.it/">http://www.sentiero-norby.it/</a> .</p>
        </article>

        <article>
          <h2>Rosalie: a bike with four wheels</h2>
          <p class="subDetails">2002-2004-2012</p>
          <p>Built with Guilhem de Gramont. <a href="http://yohanboniface.me/rosalie/">Some images.</a></p>
        </article>

        <article>
          <h2>Own house contruction</h2>
          <p class="subDetails">1998 - 2001</p>
          <p>Frame house in the Pyrénées. Everything made by me. <a href="http://familleboniface.free.fr/dessin.php?dessin=91">Some photos.</a></p>
        </article>

        <article>
          <h2>TransPyrénées treck</h2>
          <p class="subDetails">Summer 1999</p>
          <p>36 days of treck in the Pyrénées summits, from Hendaye to Banyuls.</p>
        </article>

      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Personal</h1>
      </div>

      <div class="sectionContent">
        <article>
          <p>
            I live in a riverboat.<br />
            I like: sailing, photography, philosophy, paragliding, politics.<br />
            I play drums.<br />
            Languages: French and Italian mother tongue; English for work; Esperanto and Spanish (basics); some old Russian.<br />
            No alcohol. No cigarette.
          </p>
        </article>
              </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
{% endblock content %}
