{% set active_page='curieuse' %}
{% set lang='fr' %}
{% set title='Escloupès' %}
{% extends "base.html" %}
{% block header %}
<header>
    <h1>Projet de rénovation au lieu-dit «les Escloupès»</h1>
</header>
<style type="text/css">
    img {
        max-width: 1200px;
    }
    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 2em;
        font-family: 'latobold';
        text-transform: uppercase;
    }
    h3 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 1.5em;
        font-family: 'latobold';
        text-transform: uppercase;
    }
</style>
{% endblock header %}
{% block content %}
    <div class="content reading hyphenate" id="curieuse" style="text-align: center; max-width: inherit">
        <h3>Vue aérienne</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/vue_aerienne.png") }}"></div>
        <h3>Vue façade sud</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/vue_sud.jpg") }}"></div>
        <h3>Vue façade est</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/vue_est.jpg") }}"></div>
        <h3>Division des logements</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/mesures.png") }}"></div>
        <h2>Petite maison</h2>
        <h3>Rez-de-chaussée</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/fourniere_rdc_3d.png") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/fourniere_rdc.png") }}"></div>
        <h3>Étage</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/fourniere_etage_3d.png") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/fourniere_etage.png") }}"></div>
        <h2>Grande maison</h2>
        <h3>Rez-de-chaussée</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/escloupes_rdc_3d.png") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/escloupes_rdc.png") }}"></div>
        <h3>Étage</h3>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/escloupes_etage_3d.png") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/escloupes/escloupes_etage.png") }}"></div>
    </div>
{% endblock content %}
{% block footer %}
    <footer>
    </footer>
{% endblock footer %}
