{% set active_page='index'%}
{% extends "base.html" %}
{% block content %}
<div>
    <div id="content">
        <div class="home_header">
            <div class="headshot">
                <img src="/static/img/headshot.png" alt="Yohan Boniface" />
            </div>
            <div id="contactDetails">
                <ul>
                    <li><a href="https://github.com/yohanboniface/">https://github.com/yohanboniface/</a></li>
                    <li><a href="https://bitbucket.org/yohanboniface/">https://bitbucket.org/yohanboniface/</a></li>
                    <li><a href="https://gitorious.org/~yohanboniface">https://gitorious.org/~yohanboniface/</a></li>
                    <li><a href="http://www.openstreetmap.org/user/ybon">http://www.openstreetmap.org/user/ybon</a></li>
                    <li><a href="https://twitter.com/informagicien">https://twitter.com/informagicien</a></li>
                    <li><a href="http://www.liberation.fr/medias/2012/06/21/facebook-et-le-temps-de-cerveau-disponible_828193">https://facebook.com/yohanboniface</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="summary">
            <p>
                I'm a tenacious, perfectionist and enthusiastic <span class="keyword">web citizen</span>.
            </p>
        </div>
        <div class="clear"></div>
        <div class="home_footer">
            <div id="contactDetails">
                <ul>
                    <li><a href="mailto:yb+cv@enix.org" target="_blank">contact</a></li>
                    <li><a href="/cv/">résumé</a></li>
                    <li>+33 671795348</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}