{% set active_page='curieuse' %}
{% set lang='fr' %}
{% set title='Mamie' %}
{% extends "base.html" %}
{% block header %}
<header>
    <h1>Mamie <small>Un livre-photos hommage</small></h1>
</header>
{% endblock header %}
{% block content %}
    <div class="content reading hyphenate" id="curieuse" style="text-align: center; max-width: inherit">
        <h1>Aperçu</h1>
        <iframe id="data-blurb-bookshare-8274456" data-bindattr-43="43"
                height="800px" data-bindattr-44="44"
                width="1000px" data-bindattr-45="45"
                src="http://www.blurb.fr/bookshare/app/index.html?bookId=8274456" data-bindattr-46="46"
                frameborder=0
                allowfullscreen=''
                onload='this.focus()'
                scrolling='no'>
        </iframe>
    </div>
{% endblock content %}
{% block footer %}
    <footer>
    </footer>
{% endblock footer %}
