{% set active_page='rosalie' %}
{% set lang='fr' %}
{% set title='La Rosalie' %}
{% extends "base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
    <div class="content" id="rosalie">
        <div class="img"><img src="{{ url_for('static', filename="img/rosalie/honda.jpg") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/rosalie/both.jpg") }}"></div>
        <div class="heading"><h1>la Rosalie</h1></div>
        <div class="img"><img src="{{ url_for('static', filename="img/rosalie/masques.jpg") }}"></div>
        <iframe src="//player.vimeo.com/video/84506345?title=0&amp;byline=0&amp;portrait=0&amp;color=76c1af" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="img"><img src="{{ url_for('static', filename="img/rosalie/love.jpg") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/rosalie/driving.jpg") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/rosalie/guigui.jpg") }}"></div>
        <div class="img"><img src="{{ url_for('static', filename="img/rosalie/plongeante.jpg") }}"></div>
    </div>
{% endblock content %}
{% block footer %}
    <footer>
    </footer>
{% endblock footer %}